*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.swp
*/img/*.pdf
!*/out/*.pdf
2018_05_16_Ringvorlesung_TUD_ZMM/out/zmm.pdf
/kurs_latex+git+gnupg/01_hands-on-latex-and-git.pdf
/kurs_latex+git+gnupg/auto/
/kurs_latex+git+gnupg/02_beispiel-beamer-praesentation.pdf
/kurs_latex+git+gnupg/04_git-in-depth.pdf
/kurs_latex+git+gnupg/03_latex-in-depth.pdf
/kurs_latex+git+gnupg/02_latex-uebungen.pdf
